* {
  margin: 0;
  padding: 0;
  font-family: "Gowun Batang", serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.calendar {
  width: 600px;
  margin: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.year-month {
  font-size: 30px;
}
.nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}
.nav-btn {
  width: 20px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}
.go-today {
  width: 75px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
.days {
  display: flex;
  margin: 25px 0 10px;
}
.day {
  width: calc(100% / 7);
  text-align: center;
}
.dates {
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
}
.date {
  width: calc(100% / 7);
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396ee2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color: #ffffff;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30px;
  height: 30px;
  display: block;
  background-color: rgba(79, 79, 79, 0.3);
  border-radius: 20%;
  content: "";
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 325px;
  height: 600px;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.container {
  position: absolute;
  height: 100%;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  font-size: 25px;
  color: #474747;
  margin: 55px 0 30px;
}
.row {
  padding: 0 1px;
  position: relative;
}
input {
  width: 100%;
  background-color: #fff6f6;
  box-shadow: 0px 7px 33px -4px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 20px 25px;
}
.row input::placeholder {
  font-size: 14px;
  color: #aaaaaa;
}
input.icon {
  
  color: white;
  background: #e3c18d;
  width: auto;
  border-radius: 100%;
  padding: 0px 5px;
  position: relative;
  right: -35%;
  top: -50px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
.icon:hover {
  color: #e3c18d;
  background-color: white;
  border-color: #e3c18d;
}
h4 {
  font-size: 16px;
  color: #474747;
  margin: 5px 0 15px;
}
.row ul.task_list {
  list-style: none;
  text-align: left;
}
.row ul.task_list li {
  background: #ffffff;
  box-shadow: 0px 7px 33px -4px rgba(0, 0, 0, 0.14);
  border-radius: 34px;
  padding: 20px 25px;
  margin-bottom: 9px;
  font-size: 14px;
  color: #aaaaaa;
  position: relative;
}
.row ul.task_list li span {
  position: absolute;
  right: 9px;
  top: 9px;
  padding: 9px 16px;
  border-radius: 50%;
  box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
}
.row ul.task_list li span:hover {
  color: white;
  background: rgb(203, 58, 58);
}

.dodate {
  font-size: 18px;
  color: #474747;
  text-align: center;
}
.clo {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #98938c;
  color: #ffffff;
}
.todo {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(135, 135, 135);
  color: #ffffff;
  font-size: 15px;
  outline: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 40px 80px;
}

.todo:hover {
  color:rgb(135, 135, 135);
  background-color: white; 
}
.gnb {
  width: 100%;
  height: 72px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  box-shadow: inset 0 1px 0 0 rgba(17, 10, 10, 0.08);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.gnb a {
  width: 20%;
  height: 100%;
  border: 2px solid #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.gnb .active {
  opacity: 1;
  color: #574a5a;
}
.todoss {
  font-size: 20px;
  text-align: center;
}
li {
  list-style: none;
}
.my-hr1 {
  border: 0;
  height: 1px;
  background: #ccc;
}
