body {
    background-color: #e0e0e0;
    font-family: 'Hahmlet', serif;
}
h3 {
    font-family: 'Hahmlet', serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing :3px
}
input {
    font-size: 17px;
}
button {
    font-size: 22px;
    background-color: #5E5E5E;
    color:aliceblue;
    border: 0;   
    cursor: 0;
}

a {
    font-size: 20px;
}