h3 {
  text-align: center;
}

body {
  font-family: "Hahmlet", serif;
}

button {
  font-size: 22px;
  background-color: black;
  color: aliceblue;
  border: 0;
  cursor: 0;
}
.button {
  text-align: center;
}
